.hero_section {
  position: relative;
}
.hero_bg_container,
.hero_section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.hero_bg_container {
  background-image: url("../../assets/building_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero_bg_dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.hero_section {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.hero_content_container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #fff;
}
.hero_content_heading {
  font-family: Poppins-600;
  font-size: 32px;
}
.hero_content_paragraph {
  font-family: Poppins-600;
  opacity: 0.7;
  font-size: 22px;
}
.hero_content_btn {
  padding: 10px 35px;
  color: #fff;
  border: none;
  outline: none;
  background: var(--main-color-blue);
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  text-decoration: none;
}
.hero_filter_container {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) -2.03%,
    rgba(255, 255, 255, 0.1) 97.97%
  );
  height: 152px;
  border-radius: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 80px;
}
.hero_filter_option {
  cursor: pointer;
  border: 1px solid #ccdce1;
  padding: 10px 40px;
  border-radius: 50px;
  background: #fff;
  color: #00000082;
  font-family: Poppins-600;
  font-weight: 600;
}
.hero_filter_search_btn {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background: var(--main-color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 40px;
  height: 40px; */
  padding: 16px;
  border-radius: 50%;
}

@media screen and (max-width: 1080px) {
  .hero_content_heading {
    font-size: 26px;
  }
  .hero_content_paragraph {
    font-size: 16px;
  }
  .hero_content_btn {
    font-size: 14px;
  }
  .hero_content_container {
    gap: 10px;
  }
  .hero_filter_container {
    margin-top: 20px;
    height: 120px;
    gap: 20px;
  }
  .hero_filter_option {
    font-size: 14px;
  }
}

@media screen and (max-width: 1010px) {
  .hero_content_heading {
    font-size: 22px;
  }
  .hero_content_paragraph {
    font-size: 14px;
  }
  .hero_content_btn {
    font-size: 12px;
  }
  .hero_filter_container {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 570px) {
  .hero_filter_option {
    width: 100%;
  }
  .hero_content_heading,
  .hero_content_paragraph {
    width: 360px;
    text-align: center;
  }
  .hero_filter_search_btn {
    width: 100%;
    border-radius: 40px;
    
  }
}
